.center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  background-color: rgb(71, 70, 70);
  position: relative;
  bottom: 250px;
  z-index: -20;
  height: 250px;
  width: 100%;
}

/* .summary {
  height: 300px;
  width: 400px;
} */

.summary {
  height: 80%;
  padding: 10px;
  width: 40%;
  position: relative;
  bottom: 510px;
  z-index: 2;
  background-color: rgb(62, 61, 61);
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
}

h2 {
  padding-top: 4px;
  color: white;
}

center {
  font-size: 1.1rem;
}
